{% extends "base.html" %}

{% block title %}Home - WillPowered Tutoring{% endblock %}

{% block content %}
    <!-- <h2>Welcome to the Homepage</h2> -->
    <h2>Welcome to WillPowered Tutoring</h2>
    <!-- <p>This is the main content of the homepage.</p> -->
    <p>Please select <strong style="color: rgb(72, 132, 243)">Practice</strong> to begin.</p>
{% endblock %}


    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Site Logo" class="logo-image"> -->

