{% extends "base.html" %}

{% block title %}Practice Problems - My Flask Website{% endblock %}

{% block content %}
    <h2>Practice Problems</h2>
    <p>Select a type of problem to practice:</p>
    
    <ul>
        <!-- <li>
            Solving Linear Equations
            <ul>
                <li><a href="{{ url_for('generate_problems', problem_type='Solving_Quadratic_Equations', problem_topic='Quadratic Equations by Factoring') }}">Standard Form</a></li>
                <li><a href="{{ url_for('generate_problems', problem_type='Solving', problem_topic='Quadratic Equations by Factoring') }}">Slope-Intercept Form</a></li>
                <li><a href="{{ url_for('generate_problems', problem_type='Solving', problem_topic='Quadratic Equations by Factoring') }}">Point-Slope Form</a></li>
            </ul>
        </li> -->
        <li>
            Solving Quadratic Equations
            <ul>
                <li>
                    <form action="{{ url_for('practice_settings') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="problem_type" value="Solving_Quadratic_Equations">
                        <input type="hidden" name="problem_topic" value="Factoring">
                        <a href="#" onclick="this.closest('form').submit(); return false;">Factoring</a>
                    </form>
                </li>
                <li>
                    <form action="{{ url_for('practice_settings') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="problem_type" value="Solving_Quadratic_Equations">
                        <input type="hidden" name="problem_topic" value="Completing The Square">
                        <a href="#" onclick="this.closest('form').submit(); return false;">Completing The Square</a>
                    </form>
                </li>
                <li>
                    <form action="{{ url_for('practice_settings') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="problem_type" value="Solving_Quadratic_Equations">
                        <input type="hidden" name="problem_topic" value="Quadratic Formula">
                        <a href="#" onclick="this.closest('form').submit(); return false;">Quadratic Formula</a>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}
