{% extends "base.html" %}

{% block title %}Practice Problems - My Flask Website{% endblock %}

{% block content %}
    <h2>Practice Problems</h2>
    <p>Select a type of problem to practice:</p>
    
    <ul>
        <li>
            Solving Linear Equations
            <ul>
                <li>
                    <form action="{{ url_for('practice_settings') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="problem_type" value="Solving_Linear_Equations">
                        <input type="hidden" name="problem_topic" value="Using_Only_One_Step">
                        <a href="#" onclick="this.closest('form').submit(); return false;">Using One Step</a>
                    </form>
                </li>
                <li>
                    <form action="{{ url_for('practice_settings') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="problem_type" value="Solving_Linear_Equations">
                        <input type="hidden" name="problem_topic" value="Using_Two_Steps">
                        <a href="#" onclick="this.closest('form').submit(); return false;">Using Two Steps</a>
                    </form>
                </li>
                <li>
                    <form action="{{ url_for('practice_settings') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="problem_type" value="Solving_Linear_Equations">
                        <input type="hidden" name="problem_topic" value="Using_Multiple_Steps">
                        <a href="#" onclick="this.closest('form').submit(); return false;">Using Multiple Steps</a>
                    </form>
                </li>
            </ul>
        </li>
        <li>
            Solving Quadratic Equations
            <ul>
                <li>
                    <form action="{{ url_for('practice_settings') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="problem_type" value="Solving_Quadratic_Equations">
                        <input type="hidden" name="problem_topic" value="Factoring">
                        <a href="#" onclick="this.closest('form').submit(); return false;">Factoring</a>
                    </form>
                </li>
                <li>
                    <form action="{{ url_for('practice_settings') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="problem_type" value="Solving_Quadratic_Equations">
                        <input type="hidden" name="problem_topic" value="Completing_The_Square">
                        <a href="#" onclick="this.closest('form').submit(); return false;">Completing The Square</a>
                    </form>
                </li>
                <li>
                    <form action="{{ url_for('practice_settings') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="problem_type" value="Solving_Quadratic_Equations">
                        <input type="hidden" name="problem_topic" value="Quadratic_Formula">
                        <a href="#" onclick="this.closest('form').submit(); return false;">Quadratic Formula</a>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}
